/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    display: flex;
    gap: 10px;
    background-color: black;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
.number {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
    width: 80px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: rgb(34, 33, 33);
    span {
        transform: scale(2.5);
        display: flex;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100px;
    width: 120px;
    button{
        width: 100px;
        color: white;
        border-radius: 5px;
        border: none;
        background: none;
        background-color: rgb(34, 33, 33);
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.buttons2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100px;
    width: 150px;
    button{
        font-size: 17px;
        padding: 5px;
        width: 100%;
        color: white;
        border-radius: 5px;
        border: none;
        background: none;
        background-color: rgb(34, 33, 33);
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}